{% extends "base.html.twig" %}

{% set copyright = '<p>©2023 Build in Planet Earth</p>' %}
{% set locale = app.request.getLocale() %}

{% block body %}
    <div class="container mx-sm-auto">
		<section>
			<div class="container flex flex-col items-center px-4 py-8 mx-auto text-center md:px-10 lg:px-32 xl:max-w-3xl">
				<h1 class="text-4xl font-bold leading-none sm:text-5xl">{{ messages['title'] |trans }}</h1>
				<p class="px-8 mt-8 mb-12 text-lg">{{ messages['subtitle'] |trans }}</p>
			</div>
		</section>
		<h2 class="text-3xl font-extrabold dark:text-sky-500">{{ messages['heading'] |trans }}</h2>
		<h2 class="text-3xl font-extrabold dark:text-sky-500">{{ messages['read.time'] |trans }}</h2>
        <ul>
		{% if reviews|length > 0 %}
		{% for review in reviews %}
			<li class="my-4">
                <div class="dark:bg-gray-800 dark:text-gray-50">
					<div class="container grid grid-cols-12 mx-auto dark:bg-gray-900">
						<div class="bg-no-repeat bg-cover col-span-full lg:col-span-4" style="background-image: url('https://placehold.co/600x400'); background-position: center center; background-blend-mode: multiply; background-size: cover;"></div>
						<div class="flex flex-col p-6 col-span-full lg:col-span-8 lg:p-10">

							<h1 class="text-3xl font-semibold">{{review.translate(locale).getTitle()}}</h1>
							<p class="flex-1 pt-2">{{review.translate(locale).getContent()}}</p>
							<a rel="noopener noreferrer" href="#" class="inline-flex items-center pt-2 pb-6 space-x-2 text-sm dark:text-violet-400">
								<span>{{'Read more'|trans}}</span>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
									<path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
								</svg>
							</a>
							<div class="flex items-center justify-between pt-2">
								<div class="flex space-x-2">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 dark:text-gray-400">
										<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path>
									</svg>
									<span class="self-center text-sm">Theo Despoudis</span>
								</div>
							</div>
						</div>
					</div>
				</div>
            </li>
		{% endfor %}
		{% else %}
		<div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
  			<p class="font-bold">No Game Reviews Yet!</p>
		</div>
		{% endif %}
			<li class="my-4">
                <div class="dark:bg-gray-800 dark:text-gray-50">
					<div class="container grid grid-cols-12 mx-auto dark:bg-gray-900">
						<div class="bg-no-repeat bg-cover col-span-full lg:col-span-4" style="background-image: url('https://cdn.akamai.steamstatic.com/steam/apps/1012110/header.jpg?t=1679241346'); background-position: center center; background-blend-mode: multiply; background-size: cover;"></div>
						<div class="flex flex-col p-6 col-span-full lg:col-span-8 lg:p-10">
							<div class="flex justify-start">
								<span class="px-2 py-1 text-xs rounded-full dark:bg-sky-400 dark:text-gray-900">FPS</span>
							</div>
							<h1 class="text-3xl font-semibold">Military Conflict: Vietnam.</h1>
							<p class="flex-1 pt-2">A fast-paced and fun first-person shooter experience. Set in the heat of the Vietnam War, side with Viet Cong guerrillas or U.S. Army soldiers in fierce close quarters combat.</p>
							<a rel="noopener noreferrer" href="#" class="inline-flex items-center pt-2 pb-6 space-x-2 text-sm dark:text-sky-400">
								<span>Read more</span>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
									<path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
								</svg>
							</a>
							<div class="flex items-center justify-between pt-2">
								<div class="flex space-x-2">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 dark:text-gray-400">
										<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path>
									</svg>
									<span class="self-center text-sm">by Leroy Jenkins</span>
								</div>
								<span class="text-xs">3 min read</span>
							</div>
						</div>
					</div>
				</div>
            </li>
			<li class="my-4">
                <div class="dark:bg-gray-800 dark:text-gray-50">
					<div class="container grid grid-cols-12 mx-auto dark:bg-gray-900">
						<div class="bg-no-repeat bg-cover col-span-full lg:col-span-4" style="background-image: url('https://media.indiedb.com/cache/images/games/1/34/33886/crop_320x240/768.png'); background-position: center center; background-blend-mode: multiply; background-size: cover;"></div>
						<div class="flex flex-col p-6 col-span-full lg:col-span-8 lg:p-10">
							<div class="flex justify-start">
								<span class="px-2 py-1 text-xs rounded-full dark:bg-sky-400 dark:text-gray-900">Adventure</span>
							</div>
							<h1 class="text-3xl font-semibold">Five Nights at Freddy's.</h1>
							<p class="flex-1 pt-2">Welcome to your new summer job at Freddy Fazbear's Pizza, where kids and parents alike come for entertainment and food as far as the eye can see!.</p>
							<a rel="noopener noreferrer" href="#" class="inline-flex items-center pt-2 pb-6 space-x-2 text-sm dark:text-violet-400">
								<span>Read more</span>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
									<path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
								</svg>
							</a>
							<div class="flex items-center justify-between pt-2">
								<div class="flex space-x-2">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 dark:text-gray-400">
										<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path>
									</svg>
									<span class="self-center text-sm">by Alex King</span>
								</div>
								<span class="text-xs">3 min read</span>
							</div>
						</div>
					</div>
				</div>
            </li>
        </ul>
    </div>
	
{% endblock %}

{% block footer %}
    <ul>
        <li class="text-sky-400 text-center">{{ messages['visitors'] |trans }}</li>
        <li class="text-sky-700 text-center">{{ copyright|trans|raw }}</li>
    </ul>
{% endblock %}