<header class="bg-black">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="hidden lg:flex lg:gap-x-12 lg:flex-1 justify-items-start">
      <a href="#" class="text-sm font-semibold leading-6 text-sky-400">{{ 'Games' | trans }}</a>
      <a class="text-sm font-semibold leading-6 text-sky-400" href="{{ path('reviews') }}">{{ 'Reviews' | trans }}</a>
      <a href="#" class="text-sm font-semibold leading-6 text-sky-400">{{ 'About' | trans }}</a>
    </div>
    <div class="flex lg:flex-1 lg:justify-center">
      <a href="#" class="-m-1.5 p-1.5" href="{{ path('home') }}">
        <span class="sr-only">{{ brandName | trans }}</span>
        <img class="h-8 w-auto" src="{{ asset('build/images/console-controller.png') }}" alt="">
      </a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <div class="relative group">
        <div class="flex items-center cursor-pointer text-sm text-blue group-hover:border-grey-light py-1 px-2" data-bs-toggle="dropdown" aria-expanded="false">
						<img class="flag-icon-main h-4 w-4 mr-2" src="https://flagcdn.com/{{ app.request.locale == 'en' ? 'gb' : app.request.locale}}.svg"></img>
					</div>
        
      <div class="absolute right-0 z-10 w-40 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none p-1 bg-white invisible group-hover:visible w-full">
        <a class="px-4 py-2 block text-black hover:bg-grey-lighter text-sm font-semibold leading-6 text-sky-400" href="{{ path('home', {_locale: 'en'}) }}">
          <span class="flag-icon">
						<img src="https://flagcdn.com/gb.svg" loading="lazy" width="20" alt="Flag {{ 'locale.name.en'|trans(domain = 'locale') }}">
					{{ 'English' | trans }}</span>
          </a>
        <a class="px-4 py-2 block text-black hover:bg-grey-lighter text-sm font-semibold leading-6 text-sky-400" href="{{ path('home', {_locale: 'de'}) }}">
          <span class="flag-icon">
						<img src="https://flagcdn.com/de.svg" loading="lazy" width="20" alt="Flag {{ 'locale.name.de'|trans(domain = 'locale') }}">
					{{ 'German' | trans }}</span>
          </a>
        <a class="px-4 py-2 block text-black hover:bg-grey-lighter text-sm font-semibold leading-6 text-sky-400" href="{{ path('home', {_locale: 'el'}) }}">
          <span class="flag-icon">
						<img src="https://flagcdn.com/de.svg" loading="lazy" width="20" alt="Flag {{ 'locale.name.ar'|trans(domain = 'locale') }}">
					{{ 'Arabic' | trans }}</span>
          </a>
      </div>
    </div>
  </nav>
</header>
